body {
  margin: 0;
  padding: 0;
 }

.nav-bar {
  width: 100%;
  background-image: linear-gradient(to right top, #8C33E3, #696CE8, #4A9EEC);
  background-repeat: no-repeat;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
 }
 
 .nav-item {
  list-style: none;
  color: white;
  padding: 4px;
  font-family: 'Oswald', sans-serif;
 }