body {
  margin: 0;
  padding: 0;
 }

.textColor {
  color: rgb(031,176,225);
  font-weight: bolder;
}

.nav-bar {
  width: 100%;
  background-image: linear-gradient( #003366, #236476);
  background-repeat: no-repeat;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
 }
 
 .nav-item {
  list-style: none;
  color: white;
  padding: 4px;
  font-family: 'Oswald', sans-serif;
 }

 .master-detail-element {
  float:left;
  margin: 10px 10px;
  padding: 20px;
  border: 2px solid #4A9EEC;
}

.sidebar {
  width: 15em;
  height: 30em;
  overflow: scroll;
}

div.sidebar button {
  width: 100%;
 }
 div.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
 }
 div.sidebar ul li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 0 5px;
 }
 div.sidebar ul li:first-child {
  border-top: 1px solid grey;
 }
 div.sidebar ul li:hover {
  /* background-color: yellow; */
  background-image: linear-gradient(#E6E6E6, #F7F7F7);
  background-repeat: no-repeat;
 }

