body {
  margin: 0;
  padding: 0;
  background-color:#236476;
 }

span {
  color: rgb(031,176,225);
  font-size: 1.2em;
  font: bold;
  
}

.textColor {
   color: white
}

.nav-bar {
  width: 100%;
  background-image: linear-gradient( #003366, #236476);
  background-repeat: no-repeat;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
 }
 
 .nav-item {
  list-style: none;
  color: white;
  padding: 4px;
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  margin-top: 0.2em;
  margin-left: 5em;
 }
 
 p.fortune {
  position: absolute;
  top: 58%;
  left: 61%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-align: center

 }


 /* p.fortune {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

 img {
   margin-left: 20em;
   width: 45em;
   height: 45em;;
 }
 img:hover {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

 .master-detail-element {
  float:left;
  margin: 10px 10px;
  padding: 20px;
  border: 2px solid #4A9EEC;
}

.sidebar {
  width: 18em;
  height: 45em;
  overflow: scroll;
  border-radius: 0.4em;
  background-color: white;
  border: none;
  margin-left: 2em;
}

div.sidebar button {
  width: 100%;
 }

 div.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
 }

 div.sidebar ul li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 0 5px;
 }

 div.sidebar ul li:first-child {
  border-top: 1px solid grey;
 }

 div.sidebar ul li:hover {
  /* background-color: yellow; */
  background-image: linear-gradient(#E6E6E6, #F7F7F7);
  background-repeat: no-repeat;
 }

 .button {
   margin-left: 1em;
   border: rgb(031,176,225);
   background-color: rgb(031,176,225);
 }

 .username {
   border-radius: 0.4em;
   height: 1.9em;
 }

